@font-face {
    font-family: heavyFont;
    src: url(Eastman-Grotesque-Heavy-trial.otf);
}
@font-face {
    font-family:boldFont ;
    src: url(Eastman-Grotesque-Bold-trial.otf);
}
@font-face {
    font-family:mediumFont ;
    src: url(Eastman-Grotesque-Medium-trial.otf);
}
@font-face {
    font-family:lightFont ;
    src: url(Eastman-Grotesque-Light-trial.otf);
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: none;
    font-family: lightFont;
}
body{
    background-color: #e9e0e0;
}
.nav-bar{
    background-color:  #e9e0e0;
    height: 80px;
}
.nav-bar a .logo{
    width: 100px;
    margin-top: 20px;
}

.menu-icon{
    float: right;
    font-size: 30px;
    padding: 25px  20px 0;
    color: #01728c;
}
.nav-content {
    display: none;
    position: absolute;
    top: 60px;
    left: 70%;
    width: 120px;
    padding: 10px 10px 5px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #e9e0e0;
    text-align: end;
    transition: all 0.5s ease-in; 
    z-index: 3;
}
.nav-content li{
    margin: 10px 0 15px  0;
}
.nav-content li a{
    color: black;
}
.nav-content li a:hover{
    color: #01728c;
} 
.nav-content-visible {
    display: block;
}
.nav-bar button{
    display: none;
} 
.nav-bar button:hover{
    box-shadow: 0 0 15px #01EEFE;
    transform: scale(1.1);
}
.nav-bar button a{
    color: #000000;
}
.bg-video{
    display: flex;
    justify-content: center;
}
.bg-video video {
    width: 900px;
    z-index: 1;
}
.overlay{
    display: block;
    position: absolute;
    z-index: 2;
    top: 200px;
    left: 20px;
    padding-right:20px ;
}
.overlay h1{
    font-size: 20px;
    color: black;
    font-weight: 100;
    font-family: mediumFont;
    line-height: 1;
    margin-bottom: 10px;
}
.overlay h2{
    font-size: 40px;
    font-weight: 1000;
    color: white;
    text-shadow: 1px 1px #01728c;
    font-family: heavyFont;
}
/* main */
.content1{
    padding: 20px;
    text-align: center;
}
main .content1 h1{
    font-family: boldFont;
    margin: 10px 0 20px;
    color: #01728c;
}
main .content1 p{
    font-size: 18px;
    color:rgb(36, 34, 34); 
    line-height: 1.2;
}
main .content1 p span{
    color: #01728c;
    font-weight: 800;
}
.values{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}
.core{
    margin-left: 20px;
    margin-top: 30px;
}
.divider{
    align-self: flex-start;
    height: 2px;
    width: 90px;
    background-color: #01728c;
    margin: 20px;
}
.value-cont{
    display: flex;
    margin: 20px 0;
    width: 95%;
    height: 180px;
    padding: 10px;
    background-color: #fffdfd;
    align-items: center;
    align-self: center;
    gap:20px;
    border-radius: 30px;
    box-shadow: 0 0 5px rgb(88, 88, 88, .2);
}
.value-cont h1{
    font-family: mediumFont;
    color: #01728c;
    margin-bottom: 10px;
}
.value-cont p{
    line-height: 1.2;
}
.value-cont img{
    width: 70px;
    height: 70px;
}
.team-pict{
    width: 100%;
    margin: 0;
}
.team-comp{
    margin-top: 20px;
    padding: 0 20px;
}
.team-comp h1{
    text-align: center;
    font-family: mediumFont;
    color: #01728c;
    margin-bottom: 10px;
}
.team-comp p{
    text-align: center;
    line-height: 1.2;
}
.team-container{
    background-color: #e9e0e0;
    width: 90%;
    height: 450px;
    border-radius: 30px;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    box-shadow: 0 0  5px #000000;
}
.team-container img{
    width: 70%;
    border-radius: 50%;
    margin-bottom: 20px;
}
.team-container h1{
    font-size: 30px;
}
.team-container h2{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}
.team-container div{
    margin-top: 10px;
}
.team-container div a{
    font-size: 40px;
    margin: 0 1rem;
    color: #01728c;
}
.team-container div a i:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 15px #5dbffc );
}
/* Footer */
.connect{
    background-color: #01728c;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 4rem;
}
.connect h1{
    width: 100%;
    font-family: mediumFOnt;
    font-size: 40px;
    margin-bottom: 15px;
}
.connect p{
    font-size: 20px;
    margin-bottom: 20px;
    align-items: center;
}
.connect-container{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    align-self: flex-start;
    padding: 0;
}
.connect-container .bg-icon{
    background-color: #8fc3d4;
    padding: 5px;
    border-radius: 50px;
}
.connect-container i{
    font-size: 35px;
    color: #01728c;
}
.connect-container div h2{
    font-family: mediumFont;
    margin-bottom: 10px;
}
.connect-container div p{
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    line-height: 1.2;
}
.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.socials h1{
    border-width: 0 0 2px 0;
    border-color: rgb(1, 114, 140,.7);
    font-family: boldFont;
    border-style: solid;
    margin-bottom: 2rem;
}
.socials div{
    margin: 10px 0;
}
.socials div a{
    margin: 0 2rem;
    font-size: 30px;
    color: #01728c;
}
.socials div a i:hover{
    filter: drop-shadow(0 0 15px #5dbffc );
    border-radius: 30px;
    transform: scale(1.1);
}

.socials p{
    text-align: center;
    padding: 20px;
    font-size: 13px;
}
.number{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
}


@media only screen and (min-width: 600px){
    .nav-bar{
        position: sticky;
        top: 0;
        height: 100px;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;

    }
    .nav-bar a .logo{
        width: 150px;
        margin: 10px 0 0;
    }
    
    .menu-icon{
        display: none;
    }
    .nav-content{
        display: flex;
        position:static;
        width: auto;
        background-color: transparent;
        gap: 20px;
    }
    .nav-bar button{
        display: block;
        width: 150px;
        height: 40px;
        font-size: 15px;
        font-weight: 600;
        border-radius: 20px;
        background-color: #4089b7;
    }
    .overlay{
        left: 40px;
        width: 60%;
    }
    .overlay h1{
        font-size: 30px;
    }
    .overlay h2{
        font-size: 50px;
    }
    /* main */
    main .content1 h1{
        font-size: 40px;
        margin-top: 40px;
    }
    main .content1 p{
        font-size: 20px; 
        padding: 0 65px;
    }
    main .content1 p span{
        color: black;
        font-weight: 800;
    }
    .value-cont div p{
        padding: 0;
    }

    /* team composition */
    .team-comp{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 3rem;

    }
    .team-comp h1, p{
        width: 100%;
        padding: 0 100px;
    }
    .team-comp p{
        margin-bottom: 50px;
    }
    .team-container{
        width: 40%;
    }
    .connect p{
        font-size: 20px;
        margin-bottom: 20px;
        padding: 0;
    }
    .connect-container{
        justify-content: center;
    }
    .team-container h1{
        font-family: mediumFont;
        padding: 0;
    }
    .connect-container div p{
        font-size: 20px;
        padding: 0;
        margin: 0;
    }
    .socials div a{
        margin: 0 3rem;
    }
    .socials div a i{
        font-size:50px;
    }

        
}

@media only screen and (min-width: 1000px){
    .overlay h2{
        padding-right: 30%;
        font-size: 60px;
    }
    .bg-video video{
        width: 100%;
    }
    .content1{
        width: 75%;
        justify-self: center;
        
    }
    .values{
        width: 50%;
        height: 500px;
        display: inline-block;
        margin-top: 40px;
        border-width: 1px 0 ;
        border-color: rgb(75, 74, 74, .3);
        border-style: solid;
    }
    .core{
        margin-left: 50px;
    }
    .divider{
        margin-left: 50px;
    }
    .team-pict{
        width: 50%;
        height: 500px;
        float: right;
        margin-top: 40px;
        border-radius: 30px 0 0 30px ;
    } 
    .value-cont{
        height: 100px;
        width: 80%;
        margin-left: 50px;
    }
    /* teamp composition */

    .team-container{
        width: 23%;
        justify-content: flex-start;
        height: 400px;
    }
    .team-container h1{
        padding: 0;
        font-size: 20px;
    }
    .team-container h2{
        text-align: center;
    }

}